<section id="about" class="about">
  <div class="about__inner">
    <h2 class="about__heading">{{ lang.dict().about.heading }}</h2>
    <p class="about__intro">{{ lang.dict().about.intro }}</p>

    <ul class="about__points">
      <li class="about__point">
        <svg class="about__icon" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"
          />
        </svg>
        <span>{{ lang.dict().about.location }}</span>
      </li>
      <li class="about__point">
        <svg class="about__icon" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7z"
          />
        </svg>
        <span>{{ lang.dict().about.learning }}</span>
      </li>
      <li class="about__point">
        <svg class="about__icon" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5a2.5 2.5 0 00-5 0V5H4c-1.11 0-2 .9-2 2v3.8h1.5a2.5 2.5 0 010 5H2V20c0 1.1.9 2 2 2h3.8v-1.5a2.5 2.5 0 015 0V22H17c1.1 0 2-.9 2-2v-4h1.5a2.5 2.5 0 000-5z"
          />
        </svg>
        <span>{{ lang.dict().about.solving }}</span>
      </li>
      <li class="about__point">
        <svg class="about__icon" viewBox="0 0 24 24" aria-hidden="true">
          <path
            d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"
          />
        </svg>
        <span>{{ lang.dict().about.team }}</span>
      </li>
    </ul>
  </div>
</section>
