@switch (category()) {
  @case ('frontend') {
    <svg class="blueprint" viewBox="0 0 200 160" font-size="24" aria-hidden="true">
      <path class="blueprint__line" d="M88 80 L150.4 116 L108.8 140 L46.4 104 Z" pathLength="1" />
      <path class="blueprint__line" d="M46.4 104 L46.4 108 L108.8 144 L150.4 120 L150.4 116" pathLength="1" />
      <path class="blueprint__line" d="M108.8 140 L108.8 144" pathLength="1" />
      <path class="blueprint__line" d="M88 80 L150.4 116 L150.4 67.2 L88 31.2 Z" pathLength="1" />
      <path class="blueprint__line" d="M92.2 76.8 L146.2 108 L146.2 69.6 L92.2 38.4 Z" pathLength="1" />
      <path class="blueprint__line" d="M92.2 44.8 L146.2 76" pathLength="1" />
      <path class="blueprint__line" d="M106 84.8 L106 52.8" pathLength="1" />
      <path class="blueprint__line" d="M110.2 60.8 L140.7 78.4" pathLength="1" />
      <path class="blueprint__line" d="M110.2 65.6 L133.7 79.2" pathLength="1" />
      <path class="blueprint__line" d="M110.2 82.4 L125.4 91.2 L125.4 80 L110.2 71.2 Z" pathLength="1" />
      <path class="blueprint__line" d="M129.6 93.6 L143.4 101.6 L143.4 90.4 L129.6 82.4 Z" pathLength="1" />
      <path class="blueprint__line" d="M85.2 89.6 L133.7 117.6 L115.7 128 L67.2 100 Z" pathLength="1" />
      <path class="blueprint__line" d="M79.2 93.1 L127.7 121.1" pathLength="1" />
      <path class="blueprint__line" d="M73.2 96.5 L121.7 124.5" pathLength="1" />
      <path class="blueprint__line" d="M92.2 93.6 L74.1 104" pathLength="1" />
      <path class="blueprint__line" d="M99.1 97.6 L81.1 108" pathLength="1" />
      <path class="blueprint__line" d="M106 101.6 L88 112" pathLength="1" />
      <path class="blueprint__line" d="M112.9 105.6 L94.9 116" pathLength="1" />
      <path class="blueprint__line" d="M119.9 109.6 L101.9 120" pathLength="1" />
      <path class="blueprint__line" d="M126.8 113.6 L108.8 124" pathLength="1" />
      <path class="blueprint__line" d="M81.1 112 L94.9 120 L87.3 124.4 L73.5 116.4 Z" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M150.4 120 L164.8 128.3 M108.8 144 L123.2 152.3" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M161.4 126.4 L119.9 150.4 M155.5 126.8 L161.4 126.4 L158.1 131.4 M125.9 150 L119.9 150.4 L123.2 145.4" pathLength="1" />
      <text class="blueprint__label" x="178" y="146" text-anchor="end">13"</text>
      <circle class="blueprint__line" pathLength="1" cx="136.5" cy="64" r="2" />
      <path class="blueprint__line blueprint__line--dim" d="M136.5 64 L150 46 L198 46" pathLength="1" />
      <text class="blueprint__label" x="198" y="41" text-anchor="end">UI</text>
    </svg>
  }
  @case ('backend') {
    <svg class="blueprint" viewBox="0 0 200 160" font-size="24" aria-hidden="true">
      <path class="blueprint__line" d="M96 53.7 L154.9 87.7 L114.4 111.1 L55.5 77.1 Z" pathLength="1" />
      <path class="blueprint__line" d="M55.5 77.1 L55.5 109.4 L114.4 143.4 L154.9 120 L154.9 87.7" pathLength="1" />
      <path class="blueprint__line" d="M114.4 111.1 L114.4 143.4" pathLength="1" />
      <path class="blueprint__line" d="M61.4 104.3 L67.3 107.7 L67.3 100.9 L61.4 97.5 Z" pathLength="1" />
      <path class="blueprint__line" d="M70.2 109.4 L76.1 112.8 L76.1 106 L70.2 102.6 Z" pathLength="1" />
      <path class="blueprint__line" d="M79.1 114.5 L85 117.9 L85 111.1 L79.1 107.7 Z" pathLength="1" />
      <path class="blueprint__line" d="M90.8 107.7 L107 117" pathLength="1" />
      <path class="blueprint__line" d="M90.8 104.3 L107 113.6" pathLength="1" />
      <path class="blueprint__line" d="M147.5 117.5 L121.8 132.3" pathLength="1" />
      <path class="blueprint__line" d="M147.5 112.4 L121.8 127.2" pathLength="1" />
      <path class="blueprint__line" d="M147.5 107.3 L121.8 122.1" pathLength="1" />
      <path class="blueprint__line" d="M147.5 102.2 L121.8 117" pathLength="1" />
      <path class="blueprint__line" d="M96 60.5 L96 50.3 L143.1 77.5 L143.1 87.7" pathLength="1" />
      <path class="blueprint__line" d="M90.1 63.9 L90.1 53.7 L137.2 80.9 L137.2 91.1" pathLength="1" />
      <path class="blueprint__line" d="M84.2 67.3 L84.2 57.1 L131.3 84.3 L131.3 94.5" pathLength="1" />
      <path class="blueprint__line" d="M78.3 70.7 L78.3 60.5 L125.4 87.7 L125.4 97.9" pathLength="1" />
      <path class="blueprint__line" d="M72.4 74.1 L72.4 63.9 L119.6 91.1 L119.6 101.3" pathLength="1" />
      <path class="blueprint__line" d="M66.6 77.5 L66.6 67.3 L113.7 94.5 L113.7 104.7" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M154.9 120 L168.3 112.3 M154.9 87.7 L168.3 80" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M165.2 114.1 L165.2 81.8 M167.8 108.6 L165.2 114.1 L162.6 108.6 M162.6 87.2 L165.2 81.8 L167.8 87.2" pathLength="1" />
      <text class="blueprint__label" x="198" y="108" text-anchor="end">2U</text>
      <circle class="blueprint__line" pathLength="1" cx="113.7" cy="67.3" r="2" />
      <path class="blueprint__line blueprint__line--dim" d="M113.7 67.3 L140 46 L198 46" pathLength="1" />
      <text class="blueprint__label" x="198" y="41" text-anchor="end">HS</text>
    </svg>
  }
  @case ('databases') {
    <svg class="blueprint" viewBox="0 0 200 160" font-size="24" aria-hidden="true">
      <ellipse class="blueprint__line" pathLength="1" cx="104" cy="122" rx="41.6" ry="24" />
      <path class="blueprint__line" d="M62.4 122 V140 A41.6 24 0 0 0 145.6 140 V122" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M62.4 131 A41.6 24 0 0 0 145.6 131" pathLength="1" />
      <ellipse class="blueprint__line" pathLength="1" cx="104" cy="98" rx="41.6" ry="24" />
      <path class="blueprint__line" d="M62.4 98 V116 A41.6 24 0 0 0 145.6 116 V98" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M62.4 107 A41.6 24 0 0 0 145.6 107" pathLength="1" />
      <ellipse class="blueprint__line" pathLength="1" cx="104" cy="74" rx="41.6" ry="24" />
      <path class="blueprint__line" d="M62.4 74 V92 A41.6 24 0 0 0 145.6 92 V74" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M62.4 83 A41.6 24 0 0 0 145.6 83" pathLength="1" />
      <ellipse class="blueprint__line" pathLength="1" cx="104" cy="74" rx="12.5" ry="7.2" />
      <path class="blueprint__line blueprint__line--dim" d="M62.4 74 V33 M145.6 74 V33" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M62.4 38 L145.6 38 M67.8 40.6 L62.4 38 L67.8 35.3 M140.2 35.3 L145.6 38 L140.2 40.6" pathLength="1" />
      <text class="blueprint__label" x="104" y="32" text-anchor="middle">Ø</text>
      <circle class="blueprint__line" pathLength="1" cx="137.6" cy="110" r="2" />
      <path class="blueprint__line blueprint__line--dim" d="M137.6 110 L172 110 L198 110" pathLength="1" />
      <text class="blueprint__label" x="198" y="105" text-anchor="end">SQL</text>
    </svg>
  }
  @case ('devops') {
    <svg class="blueprint" viewBox="0 0 200 160" font-size="24" aria-hidden="true">
      <path class="blueprint__line" d="M70 75.2 L146.2 119.2 L118.5 135.2 L42.3 91.2 Z" pathLength="1" />
      <path class="blueprint__line" d="M42.3 91.2 L42.3 96 L118.5 140 L146.2 124 L146.2 119.2" pathLength="1" />
      <path class="blueprint__line" d="M118.5 135.2 L118.5 140" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M76.9 79.2 L49.2 95.2" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M85.2 84 L57.5 100" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M93.6 88.8 L65.8 104.8" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M101.9 93.6 L74.2 109.6" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M110.2 98.4 L82.5 114.4" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M118.5 103.2 L90.8 119.2" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M126.8 108 L99.1 124" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M135.1 112.8 L107.4 128.8" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M143.4 117.6 L115.7 133.6" pathLength="1" />
      <path class="blueprint__line" d="M46.4 98.4 L46.4 109.6" pathLength="1" />
      <path class="blueprint__line" d="M114.3 137.6 L114.3 148.8" pathLength="1" />
      <path class="blueprint__line" d="M139.3 123.2 L139.3 134.4" pathLength="1" />
      <path class="blueprint__line" d="M76.9 59.2 L126.8 88 L106 100 L56.1 71.2 Z" pathLength="1" />
      <path class="blueprint__line" d="M56.1 71.2 L56.1 95.2 L106 124 L126.8 112 L126.8 88" pathLength="1" />
      <path class="blueprint__line" d="M106 100 L106 124" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M60.3 95.2 L60.3 76" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M64.5 97.6 L64.5 78.4" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M68.6 100 L68.6 80.8" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M72.8 102.4 L72.8 83.2" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M76.9 104.8 L76.9 85.6" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M81.1 107.2 L81.1 88" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M85.2 109.6 L85.2 90.4" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M89.4 112 L89.4 92.8" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M93.6 114.4 L93.6 95.2" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M97.7 116.8 L97.7 97.6" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M101.9 119.2 L101.9 100" pathLength="1" />
      <path class="blueprint__line" d="M116.4 118 L116.4 94" pathLength="1" />
      <path class="blueprint__line" d="M122 111.6 L122 94" pathLength="1" />
      <path class="blueprint__line" d="M110.9 118 L110.9 100.4" pathLength="1" />
      <path class="blueprint__line" d="M40 40 a11 11 0 0 1 4 -21 a15 15 0 0 1 28 -6 a12 12 0 0 1 19 11 a9 9 0 0 1 -2 16 Z" pathLength="1" />
      <path class="blueprint__line" d="M70 64 V46 M67.4 49.4 L70 44 L72.6 49.4" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M80.4 57.2 L93 49.9 M130.3 86 L142.9 78.7" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M90.1 51.6 L140 80.4 M93.5 56.6 L90.1 51.6 L96.1 52 M136.6 75.4 L140 80.4 L134 80" pathLength="1" />
      <text class="blueprint__label" x="198" y="50" text-anchor="end">12M</text>
      <circle class="blueprint__line" pathLength="1" cx="90.8" cy="124" r="2" />
      <path class="blueprint__line blueprint__line--dim" d="M90.8 124 L170 150 L198 150" pathLength="1" />
      <text class="blueprint__label" x="198" y="145" text-anchor="end">CI</text>
    </svg>
  }
  @case ('tools') {
    <svg class="blueprint" viewBox="0 0 200 160" font-size="24" aria-hidden="true">
      <path class="blueprint__line" d="M80 71.5 L153.6 114 L108 140.3 L34.4 97.8 Z" pathLength="1" />
      <path class="blueprint__line" d="M34.4 97.8 L34.4 100.4 L108 142.9 L153.6 116.5 L153.6 114" pathLength="1" />
      <path class="blueprint__line" d="M108 140.3 L108 142.9" pathLength="1" />
      <path class="blueprint__line" d="M93.2 92.7 L110.9 102.9 L93.2 113.1 L75.6 102.9 Z" pathLength="1" />
      <path class="blueprint__line" d="M75.6 102.9 L75.6 106.3 L93.2 116.5 L110.9 106.3 L110.9 102.9" pathLength="1" />
      <path class="blueprint__line" d="M93.2 113.1 L93.2 116.5" pathLength="1" />
      <path class="blueprint__line" d="M64.5 99.1 L61.6 101.6" pathLength="1" />
      <path class="blueprint__line" d="M108.7 106.7 L111.7 109.3" pathLength="1" />
      <path class="blueprint__line" d="M67.9 101 L64.9 103.5" pathLength="1" />
      <path class="blueprint__line" d="M105.4 108.6 L108.3 111.2" pathLength="1" />
      <path class="blueprint__line" d="M71.2 102.9 L68.2 105.5" pathLength="1" />
      <path class="blueprint__line" d="M102.1 110.5 L105 113.1" pathLength="1" />
      <path class="blueprint__line" d="M74.5 104.8 L71.5 107.4" pathLength="1" />
      <path class="blueprint__line" d="M98.8 112.5 L101.7 115" pathLength="1" />
      <path class="blueprint__line" d="M77.8 106.7 L74.8 109.3" pathLength="1" />
      <path class="blueprint__line" d="M95.5 114.4 L98.4 116.9" pathLength="1" />
      <path class="blueprint__line" d="M83.7 77.8 L83.7 71.9" pathLength="1" />
      <path class="blueprint__line" d="M45.4 99.9 L45.4 94" pathLength="1" />
      <path class="blueprint__line" d="M89.6 81.2 L89.6 75.3" pathLength="1" />
      <path class="blueprint__line" d="M51.3 103.3 L51.3 97.4" pathLength="1" />
      <path class="blueprint__line" d="M95.5 84.6 L95.5 78.7" pathLength="1" />
      <path class="blueprint__line" d="M57.2 106.7 L57.2 100.8" pathLength="1" />
      <path class="blueprint__line" d="M101.3 88 L101.3 82.1" pathLength="1" />
      <path class="blueprint__line" d="M63.1 110.1 L63.1 104.2" pathLength="1" />
      <path class="blueprint__line" d="M107.2 91.4 L107.2 85.5" pathLength="1" />
      <path class="blueprint__line" d="M69 113.5 L69 107.6" pathLength="1" />
      <path class="blueprint__line" d="M113.1 94.8 L113.1 88.9" pathLength="1" />
      <path class="blueprint__line" d="M74.8 116.9 L74.8 111" pathLength="1" />
      <path class="blueprint__line" d="M119 98.2 L119 92.3" pathLength="1" />
      <path class="blueprint__line" d="M80.7 120.3 L80.7 114.4" pathLength="1" />
      <path class="blueprint__line" d="M124.9 101.6 L124.9 95.7" pathLength="1" />
      <path class="blueprint__line" d="M86.6 123.7 L86.6 117.8" pathLength="1" />
      <path class="blueprint__line" d="M130.8 105 L130.8 99.1" pathLength="1" />
      <path class="blueprint__line" d="M92.5 127.1 L92.5 121.2" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M83.7 76.1 L135.2 105.9 L132.3 107.6 L80.7 77.8 Z" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M45.4 98.2 L96.9 128 L94 129.7 L42.5 99.9 Z" pathLength="1" />
      <path class="blueprint__line" d="M133 112.3 L124.2 117.4 L127.1 119.1 L135.9 114 L138.9 115.7 L130.1 120.8 L133 122.5 L141.8 117.4" pathLength="1" />
      <path class="blueprint__line" d="M122.7 122.5 L130.1 126.7 L119.7 132.6 L112.4 128.4 Z" pathLength="1" />
      <path class="blueprint__line" d="M112.4 128.4 L112.4 132.6 L119.7 136.9 L130.1 131 L130.1 126.7" pathLength="1" />
      <path class="blueprint__line" d="M119.7 132.6 L119.7 136.9" pathLength="1" />
      <path class="blueprint__line" d="M77.1 88.5 L85.9 93.6 L80 97 L71.2 91.9 Z" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M153.6 116.5 L168.9 125.3 M108 142.9 L123.3 151.7" pathLength="1" />
      <path class="blueprint__line blueprint__line--dim" d="M165.4 123.3 L119.7 149.6 M159.4 123.7 L165.4 123.3 L162 128.3 M125.7 149.2 L119.7 149.6 L123.1 144.7" pathLength="1" />
      <text class="blueprint__label" x="198" y="150" text-anchor="end">52</text>
      <circle class="blueprint__line" pathLength="1" cx="93.2" cy="102.9" r="2" />
      <path class="blueprint__line blueprint__line--dim" d="M93.2 102.9 L140 46 L198 46" pathLength="1" />
      <text class="blueprint__label" x="198" y="41" text-anchor="end">MCU</text>
    </svg>
  }
}
